<launch>

	<arg name="joy" default="js1" />

	<param name="/baud_rate" type="int" value="115200" />

	<param name="/qpps" type="string" value="0,0,0,0" />
	<param name="/accel" type="string" value="0,0,0,0" />
	<param name="battery_low" type="int" value="11" />
	<param name="battery_high" type="int" value="18" />
	<param name="mech_dist" type="string" value="7.254,10.5,10.5,10.073" />

	<node name="rover" pkg="osr" type="rover.py" respawn="true" />
	
	<node pkg="joy" type="joy_node" name="joy">
      <param name="dev" value="/dev/input/$(arg joy)"/>
      <param name="deadzone" value="0.2"/>
      <param name="autorepeat_rate" value="5"/>
      <param name="coalesce_interval" value="0.01"/>
    </node>
</launch>
	
