<launch>
	<param name="/baud_rate" type="int" value="115200" />
	<param name="/qpps" type="string" value="0,0,0,0" />
	<param name="/accel" type="string" value="0,0,0,0" />
	<param name="battery_low" type="int" value="11" />
	<param name="battery_high" type="int" value="18" />
	<param name="mech_dist" type="string" value="7.254,10.5,10.5,10.073" />

	<node name="rover" pkg="osr" type="rover.py" respawn="true" />
</launch>
	
